<h1 class="title">Categories</h1>

<button (click)="onAdd()" class="btn btn-success">Add</button>
<table style="margin-top: 20px" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; let index = index">
            <td>{{index + 1}}</td>
            <td>{{category.title}}</td>
            <td>{{category.description}}</td>
            <td>
                <button (click)="onDelete(category)" class="btn btn-sm btn-danger">delete</button>
                <button style="margin-left: 10px"  class="btn btn-sm btn-warning">edit</button>
            </td>
        </tr>
    </tbody>
</table>