.product {
  margin: 10px;
  border: solid 2px #ccc;
  padding: 10px;
}

.product img {
  width: 80%;
  height: 200px;
  margin: auto;
}

div.title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 19px;
}
